@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Raleway", sans-serif;
	padding: 0;
  background-color: black;
}

:root {
--radial-background: linear-gradient(190deg, rgb(0, 0, 0) , rgba(0, 0, 0, 0.925));


--gradient-master: linear-gradient(-60deg, rgba(30, 30, 30 ), rgba(25, 25, 25 ) );



--font-color:  #fafafa;
--radius: 10px;
--border: solid 1px rgba(0, 0, 0, 0.164);
--border-input: solid 1px var(--font-color);
}

input {
  margin-top: 5px;
  color: var(--font-color);
  transition: 1s;
}

select {
  color: rgb(131, 131, 131) !important;
}

input:focus-within{
  outline: none !important;
  border-color: rgb(166, 255, 0) !important;
  transition: 1s;
}

select:focus-within {
  outline: none !important;
}



/* header inicio */

.trybewallet-div {
	width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-infos {
	width: 90%;
  background-image: var(--gradient-master);
  border: solid 1px rgb(36, 36, 36);
  border-radius: var(--radius);
  margin-bottom: 1rem;
}

.email {
	margin-left: 1rem;
}

.total {
  
  width: 90%;
	margin-left: 1rem;
 
}

/* header final */



/* 
form wallet inicio */

.geral-wallet {
  
  color: var(--font-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wallet {
  width: 90%;
  padding-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	align-items: center;
  background-image: var(--gradient-master);
	border: var(--border);
 
}

.form-wallet label {
	display: flex;
	flex-direction: column;
	align-items: initial;
}

.form-wallet select {
  margin-bottom: 1rem;
  color: var(--font-color);
	width: 14.5rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: var(--border-input);
}

.form-wallet input {
 
  margin-bottom: 1rem;
	width: 14rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: var(--border-input);
}




.form-wallet button {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  color: var(--font-color);
  padding-top: 5px;
  margin-top: 1rem;
  border: none;
  border: var(--border);
  border-radius: var(--radius);
  background-color: #ffffff17;
}

/* form wallet final */

/* result inicio */



.result {
  width: 90%;
  padding-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	align-items: initial;
  background-image: var(--gradient-master);
	border: var(--border);
}


.result button {
	font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  color: var(--font-color);
  padding-top: 5px;
  margin-top: 1rem;
  border: none;
  border: var(--border);
  border-radius: var(--radius);
  background-color: #ffffff17;
  margin-left: 1rem;
}

.resultt {
  border-bottom: solid 2px rgba(34, 34, 34, 0.158) ;
  display: flex;
  align-items: center;
  justify-content: initial;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 6px;
}

/* result final */


/* tela login */

.login-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: var(--radial-background) 
}

.login-form {
  width: 80%;
  max-width: 20rem;
  padding: 1rem;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--border);
  background-image: var(--gradient-master)
}

.login-form h2 {
  color: var(--font-color);
}

.login-form input {
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: var(--border-input);
}


.login-form label {
  display: flex;
  flex-direction: column;
  align-items: initial;
  color: var(--font-color);
}

.login-form button {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  color: var(--font-color);
  padding-top: 5px;
  margin-top: 1rem;
  border: none;
  border: var(--border);
  border-radius: var(--radius);
  background-color: #ffffff17;
}

.login-div button:disabled {
  background-color: #57575746;
  color: #fafafa1a;
}

/* tela login final */

@media (min-width: 1200px)
{
  .result {
    width: 90%;
    flex-direction: row;
    align-items: initial;
    justify-content: center;
  
  }

  .resultt {
   border-right: 1px solid black;
    align-items: center;
    flex-direction: column;
    justify-content:flex-start;
    padding-left: 1rem;
    text-align: center;
    padding-right: 1rem;
    gap: 0px;
  }


  .result button {
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: var(--font-color);
    padding-top: 5px;
    margin-top: 2rem;
  
  margin-right: 1rem; 
    margin-left: 1rem;
  }

  .form-wallet {
    flex-direction: row;
    justify-content: center;
    align-items:flex-end;
    gap: 1rem;
  }

  .form-wallet input {
    width: 10rem;
  }

  .form-wallet select {
    width: 10rem;
  }

  .form-wallet button {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .form-wallet label {

    margin-left: 1rem;
  
  }
  
 
}